<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instagoals.hci2021.instagoals">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewGoal" />
        <activity android:name=".Goals" />
        <activity android:name=".Activity"/>
        <activity android:name=".AddNewActivity"/>
        <activity android:name=".BurgerMenu"/>
        <activity android:name=".Profile"/>
        <activity android:name=".Settings"/>
        <activity android:name=".Stats"/>
        <activity android:name=".Friends"/>
        <activity android:name=".Leaderboard"/>
        <activity android:name=".Customize"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>